.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
  }
  
  .header {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
  }
  
  .input {
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
  }
  
  .buttonWrapper {
    margin-bottom: 20px;
  }
  
/* ... */

.map {
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    margin-bottom: 10px;
    position: relative; /* Add this line */
    z-index: 1; /* Add this line */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* ... */

  
  .bikeAnimation {
    width: 300px;
    height: 300px;
    animation: bikeMove 10s linear infinite;
  }
  
  @keyframes bikeMove {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(450%);
    }
  }
  
  .vaiembora{
    width: 70%
  }